{% extends "base.html" %}

{% block title %}Listado de Menús{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center my-4">Listado de Menús</h2>
    <a href="{% url 'crear_menu' %}" class="btn btn-primary mb-4">Agregar Nuevo Plato</a>
    <a href="{% url 'listar_categorias' %}" class="btn btn-primary mb-4">Crear Nueva Categoría</a>
    <a href="{% url 'cocinero_dashboard' %}" class="btn btn-primary mb-4">Cocina</a>


    {% for categoria, items in menu_categorias.items %}
        <h3>{{ categoria }}</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre del Plato</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Disponible</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.nombre_plato }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>${{ item.precio }}</td>
                        <td>{{ item.disponible|yesno:"Sí,No" }}</td>
                        <td>
                            <a href="{% url 'editar_menu' item.id %}" class="btn btn-sm btn-warning">Editar</a>
                            <a href="{% url 'eliminar_menu' item.id %}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este plato?');">Eliminar</a>
                            <a href="{% url 'cambiar_disponibilidad_menu' item.id %}" class="btn btn-sm btn-secondary">
                                {% if item.disponible %}Marcar como No Disponible{% else %}Marcar como Disponible{% endif %}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}

    <h3>Menús No Disponibles</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del Plato</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Disponible</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in menu_items_no_disponibles %}
                <tr>
                    <td>{{ item.nombre_plato }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>${{ item.precio }}</td>
                    <td>{{ item.disponible|yesno:"Sí,No" }}</td>
                    <td>
                        <a href="{% url 'editar_menu' item.id %}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'eliminar_menu' item.id %}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este plato?');">Eliminar</a>
                        <a href="{% url 'cambiar_disponibilidad_menu' item.id %}" class="btn btn-sm btn-success">Marcar como Disponible</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
